<div class="card">
  <div class="card-header">
    <h5 class="card-title">{{ task.name }}</h5>
  </div>
  <div class="card-body">
    <p class="card-text" *ngIf="task.description"><strong>{{ '::Description' | abpLocalization }}:</strong> {{
      task.description }}</p>
    <p class="card-text"><strong>{{ '::DueDate'| abpLocalization }}:</strong> {{ task.dueDate | date}}</p>
    <p class="card-text"><strong>{{ '::Priority'| abpLocalization }}:</strong> {{ '::Enum:TaskPriority.' + task.priority
      |
      abpLocalization }}</p>
    <p class="card-text"><strong>{{ '::Status'| abpLocalization }}:</strong>
      {{ '::Enum:TaskStatus.' + task.status | abpLocalization }}
    </p>
    <p class="card-text"><strong>{{ '::Creator'| abpLocalization }}:</strong> {{ task.creatorUserName }}</p>
    <p class="card-text"><strong>{{ '::Assignee'| abpLocalization }}:</strong> {{ task.assigneeUserName }}</p>
    <p *ngIf="task.attachments.length > 0" class="card-text"><strong>{{ '::Attachments'| abpLocalization }}:</strong>
    </p>
    <ul *ngIf="task.attachments.length > 0" class="list-group list-group-flush">
      <li *ngFor="let attachment of task.attachments"
        class="list-group-item d-flex justify-content-between align-items-center">
        {{ attachment.blobName }}
        <button type="button" class="btn btn-info btn-sm" (click)="downloadAttachment(attachment.blobName)">
          <i class="fa fa-download"></i>
        </button>
      </li>
    </ul>
    <button
      *ngIf="this.task.status === TaskStatus.Pending && this.permissionService.getGrantedPolicy('TaskManagement.Tasks.StartTask')"
      class="btn btn-primary mt-2" type="button" (click)="startTask()">
      <span>{{ "::StartTask" | abpLocalization }}</span>
    </button>
    <button
      *ngIf="this.task.status === TaskStatus.InProgress && this.permissionService.getGrantedPolicy('TaskManagement.Tasks.FinishTask')"
      class="btn btn-primary" type="button" (click)="finishTask()">
      <span>{{ "::FinishTask" | abpLocalization }}</span>
    </button>
  </div>
</div>